<article class="module width_full">
  <header><h3 class="tabs_involved">User Manager</h3></header>
  <div class="modelue_content">
    <%= render 'table', :collection => @users %>
  </div>
  <footer>
    <%= paginate @users %>
  </footer>
</article>
